
*_log.txt
*.log
LastExtraction.lst
D3D9.dll
D3DImm.dll
DDraw.dll
DXGI.dll
shot***.bmp
*.mem
LastExtraction.lst
Last_Crash_*.txt
Screenshots
savegame.*
backgame.*
log_tom2pc.txt
autosave.prj
NG_Settings.bin
NG_Tom2Pc_Last_Log.txt
*.lnk
DETECTED CRASH.txt
db_patches_crash.bin
Script/.vscode/
Exported_*.txt
*.trw
Crash_Report_*.txt
db_patches_crash.bin
NG_Settings.bin
db_patches_crash.bin
NG_Settings.bin
d3dim.dll
d3dim700.dll